/* src/styles/RecruiterHome.css */
/* src/styles/RecruiterHome.css */

.sidebar-link.sign-out-button {
    display: flex;
    align-items: center;
    padding: 30px;
    padding-top: 297px ;
    color: white;
    text-decoration: none;
    background: none; /* Không có nền mặc định */
    border: none; /* Không có đường viền */
    cursor: pointer; /* Con trỏ chuột chuyển sang dạng pointer khi hover */
    transition: padding-left 0.3s ease;
    white-space: nowrap;
}

.sidebar-link.sign-out-button .icon {
    font-size: 17px;
    margin-right: 10px;
}

.sidebar-link.sign-out-button .link-text {
    display: none; /* Ẩn văn bản mặc định */
    font-size: 12px;
}

.sidebar:hover .sidebar-link.sign-out-button .link-text {
    display: inline-block; /* Hiển thị văn bản khi hover */
}

.sidebar-link.sign-out-button:hover {
    background-color: #444; /* Màu nền khi hover */
}

.recruiter-home {
    display: flex;
}

.sidebar {
    width: 79px; /* Initial width to show only icons */
    height: 100vh; /* Full height sidebar */
    background-color: #333;
    transition: width 0.3s ease; /* Smooth transition for expanding */
    color: white;
    padding-top: 20px;
    overflow: hidden; /* Hide any overflow content initially */
}

.sidebar:hover {
    width: 200px; /* Expanded width when hovered */
}

.sidebar h2 {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    visibility: hidden; /* Hide the heading */
}

.sidebar:hover h2 {
    visibility: visible; /* Show the heading when sidebar is hovered */
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: padding-left 0.3s ease;
    white-space: nowrap; /* Prevent text from breaking into new lines */
}

.sidebar-link .icon {
    font-size: 17px;
    margin-right: 10px;
}

.sidebar-link .link-text {
    display: none; /* Hide the text by default */
    font-size: 12px;
}

.sidebar:hover .sidebar-link .link-text {
    display: inline-block; /* Show the text when sidebar is hovered */
}

.sidebar-link:hover {
    background-color: #444; /* Change background color on hover */
}

.content {
    margin-left: 80px; /* Space for the initial sidebar width */
    padding: 20px;
    flex-grow: 1; /* Fill remaining space */
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 18px;
}